nav{
    background-color: #222831;
    border-bottom: .15em #393E46 solid;
    width: 100%;
    position: fixed;
}
.items{
    width: 50%;
}
.sBar{
    width: 50%;
    display: flex;
    justify-content: end;
    align-items: end;
    padding-right: 5em;
}
.sList{
    position: absolute;
    width: 300px;
    height: max-content;
    top: 74%;
    /* left: 76%; */
    background-color: #393E46;
    border-left: 1px solid #FFD369;
    border-right: 1px solid #FFD369;
    /* border-bottom: 1px solid #FFD369; */
    display: none;
}
#search{
    border: #393E46 .15em solid;
    background-color: #EEE;
    padding: .3em;
    /* border-radius: 1em; */
    width: 300px;
}
#search:focus{
    border: #FFD369 1px solid;
    background-color: #EEE;
    outline: none;
}

#search:focus + .sList{
    display: block;
}
.sList:hover{
    display: block;
}

.PlayerHead{
    background-color: #222831; 
    display: flex; 
    align-content: center; 
    justify-content: start; 
    padding: .5em;
    border-bottom: 1px solid #FFD369;
}
.PlayerHead h5{
    font-family: covesBold;
    font-weight: 500;
    font-size: 16px;
    color: #AAA;
    margin: 0;
    padding: 0;
}

.newPlayer{
    background-color: #393E46; 
    display: flex; 
    align-items: center; 
    justify-content: start; 
    padding: .5em;
    border-bottom: 1px solid #FFD369;
    height: 2em;
}

.newPlayer h3{
    font-family: covesBold;
    font-weight: 500;
    font-size: 18px;
    color: #EEE;
    margin: 0;
    padding: 0;
}

.newPlayer img{
    height: 100%;
    margin: 0;
    padding-right: 0.5em;
}