<nav class="navbar navbar-expand-lg">
<div class="container-fluid">
    <a class="navbar-brand" href="#">
    <img src="assets/images/logo_white.png" alt="Bootstrap" height="50" />
    </a>
    <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
    >
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
        <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="ranking">Ranking</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="teams">Teams</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="./freeAgents">Free Agents</a>
        </li>
    </ul>
    </div>
</div>
</nav>