<nav class="navbar navbar-expand-lg">
<div class="container-fluid">
    <a class="navbar-brand" href="#">
    <img src="assets/images/logo_white.png" alt="Bootstrap" height="50" />
    </a>
    <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
    >
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <div class="items">
            <ul class="navbar-nav">
                <li class="nav-item">
                <a class="nav-link" aria-current="page" href="ranking">Ranking</a>
                </li>
                <!-- <li class="nav-item">
                <a class="nav-link" href="teams">Teams</a>
                </li> -->
                <li class="nav-item">
                <a class="nav-link" href="free-agents">Free Agents</a>
                </li>
            </ul>
        </div>
        <div class="sBar">
            <input id="search" type="text" placeholder="Search.." name="search" (keyup)="keyup($event)">
                <div class="sList">
                    <ng-container *ngIf="players.length!=0 || teams.length!=0; else noResults">
                        <ng-container *ngIf="players.length!=0">
                            <div class="PlayerHead">
                                <h5>Players</h5>
                            </div>
                        </ng-container>
                        <ng-container *ngFor="let item of players">
                            <a class="newPlayer" href="/player/{{item[2]}}">
                                <img src="/assets/images/flags/{{ item[1] }}.png" alt="" height="10px">
                                <h3>{{ item[0] }}</h3>
                            </a>
                        </ng-container>
                        <ng-container *ngIf="teams.length!=0">
                            <div class="PlayerHead">
                                <h5>Teams</h5>
                            </div>
                        </ng-container>
                        <ng-container *ngFor="let item of teams">
                            <a class="newPlayer" href="/team/{{item[2]}}">
                                <img src="/assets/images/teams/{{ item[1] }}.png" alt="" height="10px">
                                <h3>{{ item[0] }}</h3>
                            </a>
                        </ng-container>
                    </ng-container>
                    <ng-template #noResults>
                        <ng-container *ngIf="!canSearch">
                            <div class="PlayerHead">
                                <h5>No Results</h5>
                            </div>
                        </ng-container>
                    </ng-template>
                </div>
        </div>
    </div>
</div>
</nav>