.table-row{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5%;
}
.faTable{
    color: #EEE;
    text-align: center;
    width: 90%;
}
.faTable tbody tr:nth-child(odd){
    background-color: #393E46;
}
.faTable th{
    border-bottom: #EEE .3em solid;
    padding-bottom: 1em;
}
.mid-cont{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 90vh;
}

.loader{
    top: 0;
    position: absolute;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    background-color: #222831;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s .3s, opacity .3s linear;
  }