<div class="container-fluid">
    <div class="row table-row">
        <ng-container *ngIf="PlayerArray.length>0; else elseBlock">
            <table class="faTable">
                <thead>
                    <tr>
                        <th>Nick</th>
                        <th>Photo</th>
                        <th>Name</th>
                        <th>Flag</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let player of PlayerArray; index as i;">
                        <tr class="ranking-row" [routerLink]="['/player', player[4]]">
                            <td>{{player[0]}}</td>
                            <td><img src="/assets/images/players/{{player[1]}}.png" alt="" height="100px"></td>
                            <td>{{player[2]}}</td>
                            <td><img src="/assets/images/flags/{{player[3]}}.png" alt="" height="50px"></td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </ng-container>
        <ng-template #elseBlock>
            <div class="mid-cont">
                <h1>No hay Jugadores sin Equipo</h1>
            </div>
        </ng-template>
    </div>
</div>
<div class="loader">
    <img src="https://i.stack.imgur.com/kOnzy.gif" alt="" height="75px">
</div>