<div class="container-fluid">
    <div class="row table-row">
        <div class="podium">
            <ng-container *ngFor="let team of TeamsArray; index as i;">
                <ng-container *ngIf="i<3">
                    <ng-container *ngIf="team[4]!=undefined; else elserow">
                        <div class="podium-{{ i }} top" [routerLink]="['/team', team[4]]">
                            <div class="items">
                                <img src="/assets/images/teams/{{team[2]}}.png" alt="" height="100px">
                                <h1>{{ team[1] }}</h1>
                                <h1>#{{ team[0] }}</h1>
                            </div>
                        </div>
                    </ng-container>
                    <ng-template #elserow>
                        <div class="podium-{{ i }} top">
                            <div class="items">
                                <img src="/assets/images/teams/{{team[2]}}.png" alt="" height="100px">
                                <h1>{{ team[1] }}</h1>
                                <h1>#{{ team[0] }}</h1>
                            </div>
                        </div>
                    </ng-template>
                </ng-container>
            </ng-container>
        </div>
    </div>
    <div class="row table-row">
        <table class="Teamtable">
            <thead>
                <tr>
                    <th>Position</th>
                    <th>Logo</th>
                    <th>Team Name</th>
                    <th>Difference in Ranking</th>
                </tr>
            </thead>
            <tbody *ngFor="let team of TeamsArray; index as i;">
                <ng-container *ngIf="i>2">
                    <ng-container *ngIf="team[4]!=undefined; else elserow">
                        <tr class="ranking-row" [routerLink]="['/team', team[4]]">
                            <td>#{{team[0]}}</td>
                            <td><img src="/assets/images/teams/{{team[2]}}.png" alt="" height="50px"></td>
                            <td>
                                <h3>{{team[1]}}</h3>
                            </td>
                            <td>-</td>
                        </tr>
                    </ng-container>
                    <ng-template #elserow>
                        <tr class="ranking-row">
                            <td>#{{team[0]}}</td>
                            <td><img src="/assets/images/teams/{{team[2]}}.png" alt="" height="50px"></td>
                            <td>
                                <h3>{{team[1]}}</h3>
                            </td>
                            <td>-</td>
                        </tr>
                    </ng-template>
                </ng-container>
            </tbody>
        </table>
    </div>
</div>