<div class="container-fluid">
    <div class="row table-row">
        <div class="podium">
            <ng-container *ngFor="let team of TeamsArray; index as i;">
                <ng-container *ngIf="i<3">
                    <div class="podium-{{ i }}" [routerLink]="['/team', team[4]]">
                        <h1>{{ team[1] }}</h1>
                    </div>
                </ng-container>
            </ng-container>
        </div>
    </div>
    <div class="row table-row">
        <table class="Teamtable">
            <thead>
                <tr>
                    <th>Position</th>
                    <th>Logo</th>
                    <th>Team Name</th>
                    <th>Difference in Ranking</th>
                </tr>
            </thead>
            <tbody *ngFor="let team of TeamsArray; index as i;">
                <ng-container *ngIf="i>2">
                    <tr style="vertical-align: middle;" [routerLink]="['/team', team[4]]">
                        <td>#{{team[0]}}</td>
                        <td><img src="/assets/images/teams/{{team[2]}}.png" alt="" height="100px"></td>
                        <td>
                            <h3>{{team[1]}}</h3>
                        </td>
                        <td>-</td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
</div>