.table-row{
    display: flex;
    align-items: center;
    justify-content: center;
}
.Teamtable{
    color: #EEE;
    text-align: center;
    width: 90%;
}
.Teamtable tbody:nth-child(odd){
    background-color: #393E46;
}

.podium{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    padding: 0;
    margin: 0;
    height: 500px;
}

.podium div{
    background-color: #393E46;
    text-align: center;
    width: 33%;
    height: 100%;
    margin: .5em;
    border-radius: .5em;
}

.podium-0 h1{
    color: gold!important;
}
.podium-1 h1{
    color: silver!important;
}
.podium-2 h1{
    color: burlywood!important;
}
.ranking-row td{
    vertical-align: middle; 
    padding: 1em;
}