<div class="TableCont">
    <table class="teamTable" style="color: aliceblue;">
        <thead>
            <tr>
                <th colspan="5" style="text-align: center;">
                    <div>
                        <img src="/assets/images/teams/{{ TeamLogo }}.png" alt="" height="60px">
                        <h4>{{TeamName}}</h4>
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/bf/Flag_of_Bosnia_and_Herzegovina.svg/2560px-Flag_of_Bosnia_and_Herzegovina.svg.png" alt="" height="60px">
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td *ngFor="let player of Players; index as i;">
                    <img src="https://img-cdn.hltv.org/playerbodyshot/ryEzkk38b_L-5BdkIG23c3.png?ixlib=java-2.1.0&w=400&s=62e42f9862a878e552236e0df10e7249" alt="" />
                </td>
            </tr>
            <tr class="AllPlayers">
                <td *ngFor="let player of Players; index as i;">
                    <div class="PlayerDesc">
                        <ng-container *ngIf="player[1]!='?';else elseblock">
                            <h2><a href="player/{{player[0]}}">{{player[1]}}</a></h2>
                            <h3>Rifler</h3>
                        </ng-container>
                        <ng-template #elseblock>
                            <h2><a>{{player[1]}}</a></h2>
                            <h3>none</h3>
                        </ng-template>
                    </div>
                </td>
            </tr>
            <!-- <tr>
                <td><img src="https://img-cdn.hltv.org/playerbodyshot/ryEzkk38b_L-5BdkIG23c3.png?ixlib=java-2.1.0&w=400&s=62e42f9862a878e552236e0df10e7249"
                        alt="" /></td>
                <td><img src="https://img-cdn.hltv.org/playerbodyshot/ryEzkk38b_L-5BdkIG23c3.png?ixlib=java-2.1.0&w=400&s=62e42f9862a878e552236e0df10e7249"
                        alt="" /></td>
                <td><img src="https://img-cdn.hltv.org/playerbodyshot/ryEzkk38b_L-5BdkIG23c3.png?ixlib=java-2.1.0&w=400&s=62e42f9862a878e552236e0df10e7249"
                        alt="" /></td>
                <td><img src="https://img-cdn.hltv.org/playerbodyshot/ryEzkk38b_L-5BdkIG23c3.png?ixlib=java-2.1.0&w=400&s=62e42f9862a878e552236e0df10e7249"
                        alt="" /></td>
                <td><img src="https://img-cdn.hltv.org/playerbodyshot/ryEzkk38b_L-5BdkIG23c3.png?ixlib=java-2.1.0&w=400&s=62e42f9862a878e552236e0df10e7249"
                        alt="" /></td>
            </tr>
            <tr class="AllPlayers">
                <td>
                    <div class="PlayerDesc">
                        <h2><a href="player/1"> NiKo</a></h2>
                        <h3>Rifler</h3>
                    </div>
                </td>
                <td>
                    <div class="PlayerDesc">
                        <h2><a href="player/1"> NiKo</a></h2>
                        <h3>Rifler</h3>
                    </div>
                </td>
                <td>
                    <div class="PlayerDesc">
                        <h2><a href="player/1"> NiKo</a></h2>
                        <h3>Rifler</h3>
                    </div>
                </td>
                <td>
                    <div class="PlayerDesc">
                        <h2><a href="player/1"> NiKo</a></h2>
                        <h3>Rifler</h3>
                    </div>
                </td>
                <td>
                    <div class="PlayerDesc">
                        <h2><a href="player/1"> NiKo</a></h2>
                        <h3>Rifler</h3>
                    </div>
                </td>
            </tr> -->
        </tbody>
    </table>
</div>