.teamTable{
    width: 80%;
}

.teamTable th div{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
}

.teamTable th div *{
    padding: 0;
    margin: 0;
    padding-right: 16px;
}

.teamTable tbody td{
    width: 20%;
    height: 100%;
    padding-right: 1em;
    padding-left: 1em;
}

.teamTable tbody td img{
    width: 100%;
    background-color: #FFD369;
    border: #EEEEEE 3px solid;
}

.AllPlayers td{
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
}

.AllPlayers td *{
    margin-bottom: 0;
}

.PlayerDesc{
    background-color: #393E46;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.AllPlayers{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 400px;
}
.PlayerDesc{
    width: 100%;
    height: 100%;
}
.PlayerDesc h2{
    font-family: genuine;
    font-weight: 500;
    font-size: 40px;
    color: #EEE;
}
.PlayerDesc h3, .PlayerDesc h2{
    padding-top: 10px;
}