<div class="TableCont">
    <table class="teamTable" style="color: aliceblue;">
        <thead>
            <tr>
                <th colspan="5" style="text-align: center;">
                    <div>
                        <img src="/assets/images/teams/{{ TeamLogo }}.png" alt="" height="60px">
                        <h4>{{TeamName}}</h4>
                        <img src="/assets/images/flags/{{ TeamFlag }}.png" alt="" height="60px">
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            <!-- <tr>
                <td *ngFor="let player of Players; index as i;">
                    <img src="/assets/images/players/{{player[4]}}.png" alt="" />
                </td>
            </tr> -->
            <tr class="AllPlayers">
                <td *ngFor="let player of Players; index as i;">
                    <div class="PlayerDesc">
                        <img src="/assets/images/players/{{player[4]}}.png" alt="" />
                        <ng-container *ngIf="player[1]!='?';else elseblock">
                            <h2><a href="player/{{player[0]}}">{{player[1]}}</a></h2>
                            <h3>Rifler</h3>
                        </ng-container>
                        <ng-template #elseblock>
                            <h2><a>{{player[1]}}</a></h2>
                            <h3>&nbsp;</h3>
                        </ng-template>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>